@forward './wave_button__component.scss';
@forward './menu_hamburger__component.scss';
@forward './common.scss';
@forward './tabs__component.scss';
@forward './dropdown__component.scss';
@forward './rating__component.scss';