@use '../abstract/styles/root.scss' as *;
@use '../abstract/styles/patterns.scss' as *;

[data-wf-type="dropdown"] {
  all: unset;
  box-sizing: border-box;

  * {
    all: unset;
    box-sizing: border-box;
  }

  cursor: pointer;
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  min-width: 5rem;

  &[data-add-styles] span[data-wf-type="dropdown-title"] {
    display: block;
    font-size: var(--xm-font-size);
    background: hsl(var(--dropdown-title-bg-color));
    padding: .7rem;
  }
}