@use '../abstract/styles/root.scss' as *;
@use '../abstract/styles/patterns.scss' as *;

button[data-wf-type="menu-hamburger"] {
  all: unset;
  display: block;
  position: relative;

  @extend %add_accessibility;

  outline: var(--primary-outline);
  outline-color: var(--menu-color);
  border-radius: var(--primary-border-radius);

  width: var(--menu-hamburger-size);
  max-height: var(--menu-hamburger-size);
  aspect-ratio: 1;

  &[data-handler-active] {
    z-index: 10002;
  }

  &[data-size="sm"] {
    width: var(--menu-hamburger-size-sm);
  }

  &[data-size="lg"] {
    width: var(--menu-hamburger-size-lg);
  }

  &[data-animation-index="0"] {
    &[aria-expanded="true"] :is(.line1, .line2, .line3) {
      y: 45;
    }

    &[aria-expanded="true"] .line1 {
      rotate: 45deg;
    }
  
    &[aria-expanded="true"] .line3 {
      rotate: -45deg;
    }

    &[aria-expanded="true"] .line2 {
      opacity: 0;
    }
  
    .line {
      fill: var(--menu-color, hsl(var(--primary-color)));
      transition: 
        y .2s ease-in .35s,
        rotate .35s ease-in-out,
        opacity 0s .35s;
      transform-origin: center;
    }

    &[aria-expanded="true"] .line {
      transition: 
        y .2s ease-in,
        rotate .35s ease-in-out .2s,
        opacity 0s .2s;
    }
  }

  &[data-animation-index="1"] {
    .line {
      stroke: var(--menu-color, hsl(var(--primary-color)));
      stroke-width: 15px;
      stroke-dasharray: 80;
      stroke-linecap: round;
    }

    .line {
      animation: animationMenuHamburger2_close .5s forwards;
    
      &:is(.line1) {
        transform-origin: 36px 47px;
      }

      &:is(.line2) {
        transform-origin: 32px 57px;
        --line-rotation: -45deg;
      }
    }

    &[aria-expanded="true"] .line1 {
      animation: animationMenuHamburger2_open 1s forwards;
    }

    &[aria-expanded="true"] .line2 {
      --line-rotate: -45deg;
      --line-dashoffset: -4rem;

      animation: animationMenuHamburger2_open 1s forwards;
    }
  }

  &[data-animation-index="null"] {
    &[aria-expanded="true"] :is(.line1, .line2, .line3) {
      y: 45;
    }

    &[aria-expanded="true"] .line1 {
      rotate: 45deg;
    }
  
    &[aria-expanded="true"] .line3 {
      rotate: -45deg;
    }

    &[aria-expanded="true"] .line2 {
      opacity: 0;
    }
  
    .line {
      fill: var(--menu-color, hsl(var(--primary-color)));
      transform-origin: center;
    }
  }
}

*[data-wf-type="menu-hamburger-aside"] {
  display: none;
  
  &[data-handler-active] {
    position: relative;
    z-index: 10001;
  }

  &[aria-expanded="true"] {
    display: block;
  }
}

@keyframes animationMenuHamburger2_open {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: var(--line-dashoffset, 4.75rem);
  }

  60% {
    rotate: var(--line-rotate, 45deg);
  }

  100% {
    rotate: var(--line-rotate, 45deg);
  }
}

@keyframes animationMenuHamburger2_close {
  0% {
    rotate: var(--line-rotation, 45deg);
  }

  100% {
    rotate: 0;
  }
}